<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="A Simple Food Recipe Application.">
    	<meta name="keywords" content="Food, Recipe, Meals">

		<title>Food Recipe App</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<main>

			<div class="firstContainer">

				<div class="inputContainer">
					<h2>Type in Name of food below</h2>
					<input type="text" placeholder="Meal Name" class="text">
					<button id="btn" class="btn">Search</button>
				</div>
				<div class="contentContainer">
					<div class="contentOne">
						<!--NAME OF FOOD -->
						<h2 id="nameOfFood" class="nameOfFood"></h2>
					</div>
					<div class="contentTwo">
						<!-- Meal image -->
						<img src="" alt="" class="image">
					</div>
					<div class="contentThree">
						<!--Recipe-->
						<h3 id="recipe" class="recipe">Recipe</h3>
					</div>
				</div>
				
			</div>
			
			<div class="slider-frame">

				<div class="slide-images">

					<div class ="img-container">
						<img src="C:\Users\airsay\desktop\Food-Recipe-App\assets\images\burger.jpg" alt="">
					</div>
					<div class ="img-container">
						<img src="C:\Users\airsay\desktop\Food-Recipe-App\assets\images\icecream.jpg" alt="">
					</div>
					<div class ="img-container">
						<img src="C:\Users\airsay\desktop\Food-Recipe-App\assets\images\meatballs.jpg" alt="">
					</div>
					<div class ="img-container">
						<img src="C:\Users\airsay\desktop\Food-Recipe-App\assets\images\pancakes.jpg" alt="">
					</div>
					<div class ="img-container">
						<img src="C:\Users\airsay\desktop\Food-Recipe-App\assets\images\pasta.jpg" alt="">
					</div>
					<div class ="img-container">
						<img src="C:\Users\airsay\desktop\Food-Recipe-App\assets\images\pizza.jpg" alt="">
					</div>
					<div class ="img-container">
						<img src="C:\Users\airsay\desktop\Food-Recipe-App\assets\images\veggies.jpg" alt="">
					</div>
					<div class ="img-container">
						<img src="C:\Users\airsay\desktop\Food-Recipe-App\assets\images\popsicle.jpg" alt="">
					</div>
					<div class ="img-container">
						<img src="C:\Users\airsay\desktop\Food-Recipe-App\assets\images\burger2.jpg" alt="">
					</div>
					<div class ="img-container">
						<img src="C:\Users\airsay\desktop\Food-Recipe-App\assets\images\pancakes.jpg" alt="">
					</div>
	
				</div>
	
			</div>
		</main>
		
		
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
