<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="A Simple Food Recipe Application.">
    	<meta name="keywords" content="Food, Recipe, Meals">

		<title>Food Recipe App</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<main>

			<div class="firstContainer">

				<div class="inputContainer">
					<h1>Type in Name of food below</h1>
					<input type="text" placeholder="Meal Name" class="text">
					<button id="btn" class="btn">Search</button>
				</div>
				<div class="contentContainer">


					<!--Name of food-->
					<h2 id="nameOfFood"></h2>

					<!--Image of food-->
					<img src="" alt="">

					<!-- Summary of Meal-->
					<h4></h4>

					<!--diet-->
					<h3 id="diet"></h3>

					<!--Ingredients-->
					<h3>--Ingredients--</h3>
					<ul>
					</ul>

				
					<!--Instructions-->
					<h3 id="instructions">--Instructions--</h3>
					<ol>
						
					</ol>
				</div>
			</div>
		</main>
		
		
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
