<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="A Simple Food Recipe Application.">
    	<meta name="keywords" content="Food, Recipe, Meals">

		<title>Food Recipe App</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<main>
			<div class="inner-container">
				<h2>Type in Name of food below</h2>
				<input type="text" placeholder="Meal Name">
				<button>Search</button>
			</div>
			<div class="slider-frame">
				<div class="slider-images">
					<div class ="img-container">
						<img src="" alt="">
					</div>
					<div class ="img-container">
						<img src="" alt="">
					</div>
					<div class ="img-container">
						<img src="" alt="">
					</div>
					<div class ="img-container">
						<img src="" alt="">
					</div>
					<div class ="img-container">
						<img src="" alt="">
					</div>
					<div class ="img-container">
						<img src="" alt="">
					</div>
					<div class ="img-container">
						<img src="" alt="">
					</div>
					<div class ="img-container">
						<img src="" alt="">
					</div>
					<div class ="img-container">
						<img src="" alt="">
					</div>
					<div class ="img-container">
						<img src="" alt="">
					</div>
	
				</div>
	
			</div>
		</main>
		
		
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
