<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="A Simple Food Recipe Application.">
    	<meta name="keywords" content="Food, Recipe, Meals">

		<title>Food Recipe App</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<main>
			<div class="inner-container">
				<h1>NAME OF DISH</h1>
                <h2></h2>
			</div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <h3>Recipe</h3>
            </div>
            <div>
            </div>
		</main>
		
		
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>