/******************************************
/* CSS
/*******************************************/
body{
  
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  background: url("../../images/burger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
  color: white;
}
/* Box Model Hack */
*{
  box-sizing: border-box;
}
main{
  width: auto;
}
.firstContainer{
  
  position: relative;
  margin-top: 3%;
  
}
.contentContainer{
  margin-left: 5%;
  color: whitesmoke;
}


/******************************************
/* LAYOUT
/*******************************************/


iframe{
  width: 300px;
  height: 300px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
